﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="page-header text-center">
            <h1>ISF Invoice Application</h1>
        </div>

        <p class="lead text-center">
            You must login or register to use system.
        </p>
        <p class="lead text-center">
            You will be able to Create, Read, Update, and Delete your invoices.
        </p>
    </div>
</div>

<div class="divider" id="section2"></div>

<section class="bg-1">
    <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">All authenticated ISF users can use system.</h2></div>
</section>

<div class="divider"></div>

<div class="form-group" style="text-align:center">

    <h1>Getting started</h1>

    <h3>All you have to do is register with the link below.</h3>
    <h3>After that you will be able to input your invoices,</h3>
    <h3>see a list of all invoices, edit the invoices, and delete invoices.</h3>

    <h2>@Html.ActionLink("Get Started", "Register", "Account")</h2>
</div>

<div class="divider"></div>


<section class="bg-2">
    <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">You can only have three outstanding invoices.</h2></div>
</section>


<div class="divider"></div>

<section class="bg-3" id="section4">
    <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">You can not have more than $20,000.00 in outstanding invoices.</h2></div>
</section>



<div class="divider" id="section5"></div>

<div class="row">

    <hr>

    <div class="col-sm-3 pull-right">

        <address>
            <strong>Application by:</strong><br>
            Bill Vickers<br>
            12 Cobia St<br>
            Ponte Vedra Beach, FL<br>
            P: (904) 412-9526
        </address>

        <address>
            <strong>Email Us</strong><br>
            <a href="mailto:#">bill-vickers@att.net</a>
        </address>
    </div>

</div>
