﻿@using ISFInvoice.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h1 style="text-align:center">
    Log In
</h1>

<div class="row">
    <div class="col-md-offset-3">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3">
                        <input type="submit" value="Log in" class="btn btn-default btn-lg" />
                    </div>
                </div>
            }
        </section>
    </div>
    <h2 style="text-align:center">
        @Html.ActionLink("Register as a new user", "Register")
    </h2>
    <br />
    <h4 style="text-align:center">
        You must be logged in to create an invoice or view invoices.
    </h4>

</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}