﻿
@{
    ViewBag.Title = "AmountLimit";
}

<br />
<h3 style="text-align:center">You have reached your invoice amount limit</h3>
<br />
<h3 style="text-align:center">You can not have more than $20,000.00 in outstanding invoices.</h3>
<br />
<h3 style="text-align:center">You need to get your invoices paid!</h3>
<br />
<h3 style="text-align:center">
    You can add more invoices after deleting or editing other
    invoices if you have reached your max.
</h3>
<br />
<br />
<h4 style="text-align:center">
    @Html.ActionLink("Delete or edit you current invoices", "Index")
</h4>

