﻿
@{
    ViewBag.Title = "CountLimit";
}
<br />
<h2 style="text-align:center">You have reached your invoice total limit</h2>
<br />
<h3 style="text-align:center">You can not have more than 3 outstanding invoices.</h3>
<br />
<h3 style="text-align:center">You need to get your invoices paid!</h3>
<br />
<h3 style="text-align:center">
    You can add more invoices after deleting or editing other
    invoices if you have reached your max.
</h3>
<br />
<h1 style="text-align:center">
    @Html.ActionLink("Delete or edit you current invoices", "Index")
</h1>
<br />
<br />
<br />
<br />
