﻿@model ISFInvoice.Models.Invoice

@{
    ViewBag.Title = "Create";
}

<br />
<h2 style="text-align:center">Create new Invoice</h2>
<br />
<h4 style="text-align:center">You can not have more than 3 outstanding invoices.</h4>
<br />
<h4 style="text-align:center">You can not have more than $20,000.00 in outstanding invoices.</h4>
<br />
<h4 style="text-align:center">
    You can add more invoices after deleting or editing other
    invoices if you have reached your max.
</h4>
<br />
<br />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="col-md-offset-3">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.InvoiceAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.InvoiceAmount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.InvoiceAmount, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div style="text-align:center">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
                </div>
        </div>
    </div>
}
<br />
<h4 style="text-align:center">
    @Html.ActionLink("Back to Invoice List", "Index")
</h4>
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
