﻿@model ISFInvoice.Models.Invoice

@{
    ViewBag.Title = "Delete";
}

<br />
<br />
<h2 style="text-align:center">Delete Your Invoice</h2>
<br />
<br />

<div class="col-md-offset-3">
    <div>
        <br />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CreatedByUser.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedByUser.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustomerName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InvoiceDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InvoiceDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InvoiceCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InvoiceCount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InvoiceAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InvoiceAmount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InvoiceAmountTotal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InvoiceAmountTotal)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <br />

            <div class="form-group">
                <div class="col-md-offset-3">
                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to Invoice List", "Index")
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
