﻿@model ISFInvoice.Models.Invoice

@{
    ViewBag.Title = "Details";
}

<br />
<h1 style="text-align:center">Invoice Details</h1>
<br />
<div class="col-md-offset-3">
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CreatedByUser.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedByUser.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustomerName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InvoiceDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InvoiceDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InvoiceCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InvoiceCount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InvoiceAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InvoiceAmount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InvoiceAmountTotal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InvoiceAmountTotal)
            </dd>

        </dl>
    </div>
</div>
<br />
<br /> 
    <h4 style="text-align:center">
    @Html.ActionLink("Back to Invoice List", "Index")
</h4>
<br />
<br />
<br />
<br />
<br />
<br />
<br />